::selection {
    background: #fc0707;
  }

  ::-moz-selection {
    background: #505050;
  }

  html,
  body,
  .container {
    overflow: hidden;
    background-color: rgb(10, 10, 11);
    height: 100%;
  }

  .container {
    color: rgb(245, 239, 239);
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  }